:root {
  --primary-color: #1f2937;
  --grayish-color-800: #374151;
  --grayish-color-500: #4b5563;
  --grayish-color-300: #e5e7eb;
  --grayish-color-200: #d1d5db;
  --grayish-color-700: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  color: var(--primary-color);
  font-family: "Yekan Bakh FaNum";
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px 16px 16px;
  border-bottom: 1px solid var(--grayish-color-300);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}

.container {
  padding: 0 16px;
}

.navbar .left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  color: var(--primary-color);
}

.navbar .left-side .logo {
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--primary-color);
}
.navbar .left-side .logo a {
  color: var(--primary-color);
}

.page-description {
  text-align: center;
  padding-top: 4.2rem;
  margin-bottom: 5.6rem;
}

.page-description .title-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page-description .title-back a {
  position: absolute;
  left: 0;
  top: 0;
}

.page-description h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.page-description p {
  color: var(--grayish-color-500);
  font-size: 1.4rem;
}

.services,
.operators {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 5.6rem;
}

.service {
  background-color: var(--grayish-color-200);
  border-radius: 5px;
  padding: 24px;
}

.service h3 {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
  color: var(--grayish-color-700);
}

.service p {
  font-size: 1.2rem;
  color: var(--grayish-color-500);
}

.service .description {
  margin-bottom: 1.6rem;
}

.operators {
  gap: 24px;
}

.operator {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.operator .description {
  background-color: var(--grayish-color-200);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 16px;
}

.operator h2 {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.operator .operator-role {
  font-size: 1.2rem;
  margin-bottom: 3.2rem;
  color: var(--grayish-color-500);
}

.operator-image {
  width: 9rem;
  background-color: var(--grayish-color-800);
}

.operator-footer {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.operator-footer .numbers {
  font-size: 1.2rem;
}
.operator-footer .seperator {
  background: #9ca3af;
  width: 1px;
  height: 2rem;
}

.operator-footer .points {
  display: flex;
  background: #e5e7eb;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 4px;
  border-radius: 2px;
}

.operator-footer .points span {
  font-size: 0.8rem;
}

.operator .buttons {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.btn {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.2rem;
  background: var(--primary-color);
  color: white;
  flex: 1;
  padding: 8px 10px;
  border-radius: 5px;
}

.btn-outline {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.operator-seperator {
  background: #d9d9d9;
  height: 1px;
  width: 100%;
}

.operator-profile-img {
  width: 8rem;
  height: 8rem;
  background: var(--grayish-color-300);
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}
.works-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  margin-bottom: 6.5rem;
}

.works-gallery a {
  display: block;
  width: 32.9%;
  height: 10rem;
  padding-bottom: 14rem;
  background: var(--grayish-color-300);
}

.primary-btn {
  display: block;
  width: 100%;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
}

/* OPERATOR WORK PROFILE */
.slider-container {
  margin-bottom: 2.4rem;
}
.slider-container .slider {
  width: 100%;
  height: 30rem;
  background: var(--grayish-color-300);
  padding: 0;
  margin-bottom: 1.6rem;
}

.slider-container .slider-location {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.slider-container .dot.active {
  width: 1.1rem;
  border-radius: 10px;
  background-color: var(--grayish-color-500);
}

.slider-container .dot {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--grayish-color-300);
}

.operator-intro-interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.operator-introduction h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.operator-introduction p {
  font-size: 1rem;
}

.operator-intro-interaction .interactions {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.post-report {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 2.4rem;
}

.user-imgs {
  display: flex;
}

.user-img {
  width: 2.4rem;
  height: 2.4rem;
  background: var(--grayish-color-300);
  border: 3px solid #fff;
  border-radius: 50%;
}

.user-img.middle {
  transform: translateX(10px);
}
.user-img.last {
  transform: translateX(20px);
}

.post-report p {
  transform: translateX(15px);
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.comment.reply {
  padding-right: 3.2rem;
}

.comment.reply .comment-header {
  padding-right: 1rem;
  border-right: 1px solid var(--grayish-color-300);
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1.6rem;
}

.user-comment-image {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background: var(--grayish-color-300);
}

.user-comment-info h3 {
  font-size: 1.2rem;
}

.user-comment-info p {
  font-size: 1rem;
}

.comment-text p {
  font-size: 1.2rem;
  font-weight: 500;
}

.comment.reply .comment-text p {
  padding-right: 1rem;
}

.add-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  text-align: center;
}

.add-comment p {
  font-size: 1.2rem;
  font-weight: 500;
}

.add-comment a {
  color: var(--primary-color);
  font-weight: bold;
}

/* OPERATOR WORK PROFILE ENDS HERE */

footer {
  background-color: var(--grayish-color-800);
  color: #fff;
  margin-top: 6rem;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.footer-header .salon-info h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-header .salon-info p {
  font-size: 1rem;
}
.footer-header .salon-info p:nth-child(2) {
  margin-bottom: 0.5rem;
}

.footer-header .salon-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.footer-header .salon-social .insta-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 0.4rem 0.8rem;
  border: 1px solid #fff;
  border-radius: 50px;
}

.product-info {
  border-top: 1px solid var(--grayish-color-500);
}

.product-info .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
}

.product-info .content a {
  color: white;
  text-decoration: none;
}
